<% if current_object.errors.any? %>
	<div id="error_explanation" class="alert-error">
		<h4><%= t(controller_name + '.form.error_title') %></h4>
		<ul>
			<% current_object.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>