// Place all the styles related to the VeggieBoxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.veggie_boxes.edit,
.veggie_boxes.new {
	h1 {
		margin-bottom: 1.5em;
		text-align: center;
	}

	h2 {
		font-size: 2em;
		padding-bottom: 0;
		text-align: left;
	}

	form {
		padding-bottom: 100px;

		#submit {
			margin: 0 auto;
		}
	}

	#japanese {
		margin-bottom: 50px;
	}

	label {
		font-weight: bold;
	}

}